@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');

/*Css of body*/
body{
    background-color: rgb(250, 252, 255);
    scroll-behavior: smooth;
}

body, button{
    font-family: 'DM Serif Display', serif;
    color: rgb(25,25,25);
}
/*Css of headers*/
header{

}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    background-color: rgba(217, 246, 255, 0.5);
}

h1{
    text-align: center;
    margin: 0;
}

h2{
    border: none;
    border-radius: 5px;
    text-align: center;
}

/*All links that should remain of the same color go here*/
h6 a,#toc-frame a{
    color: inherit;  /*I want all links to remain of the original color even when clicked*/
}

h6  a:visited,#toc-frame a:visited{
    color: inherit;  /*I want all links to remain of the original color even when clicked*/
}

/*Css of small notes*/
h6{
    padding: 5px 0px 5px 0px;
}