DirectoryIndex index.php home.php

<Files .git*> 
   Require all denied
</Files>

<Files *.md$> 
   Require all denied
</Files>

<Files COPYRIGHT> 
   Require all denied
</Files>

<Files LICENSE> 
   Require all denied
</Files>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
#The following rule protects .git and .idea
RedirectMatch 403 \.git
RedirectMatch 403 \.idea

#How long to cache stuff for
<IfModule mod_expires.c>
	# Enable expirations
	ExpiresActive On 
	# Default directive
	ExpiresDefault "access plus 1 day"
	# Images
	ExpiresByType image/gif "access plus 1 month"
	ExpiresByType image/png "access plus 1 month"
	ExpiresByType image/jpg "access plus 1 month"
	ExpiresByType image/jpeg "access plus 1 month"
	# CSS
	ExpiresByType text/css "access plus 1 month"
	# Javascript
	ExpiresByType application/javascript "access plus 1 month"
</IfModule>

#headers
<IfModule mod_headers.c>
  <FilesMatch ".(js|css|xml|gz|html)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>
</IfModule>

#A little bit of browser compitability
<IfModule mod_deflate.c>
    SetOutputFilter DEFLATE
  <IfModule mod_setenvif.c>
    # Netscape 4.x has some problems...
    BrowserMatch ^Mozilla/4 gzip-only-text/html

    # Netscape 4.06-4.08 have some more problems
    BrowserMatch ^Mozilla/4\.0[678] no-gzip

    # MSIE masquerades as Netscape, but it is fine
    # BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

    # NOTE: Due to a bug in mod_setenvif up to Apache 2.0.48
    # the above regex won't work. You can use the following
    # workaround to get the desired effect:
    BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html

    # Don't compress images
    SetEnvIfNoCase Request_URI .(?:gif|jpe?g|png)$ no-gzip dont-vary
  </IfModule>

  <IfModule mod_headers.c>
    # Make sure proxies don't deliver the wrong content
    Header append Vary User-Agent env=!dont-vary
  </IfModule>
</IfModule>