/*Info*/
.users-editor .info{
    margin: 5px 0px;
    padding: 5px;
}

.users-editor .info > div{
    margin: 5px;
}

.users-editor .info .value{
    padding: 2px 5px;
    background-color: var(--shadow-dark-1);
}

.contacts-editor .info .title{
    font-size: 1em;
    font-weight: 800;
}

/*Form*/
.users-editor form{
    padding: 5px;
    transition: 0.2s ease-in-out;
}
.users-editor form >div{
    padding: 5px 20px 5px 10px;
    margin: 5px 0px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    max-width: max-content;
}
.users-editor form >div.changed{
    background-color: var(--main-color-3);
}
.users-editor form > div button.item-param{
padding: 2px 7px;
}

/*Control buttons*/
.users-editor .control-buttons {
    margin: 10px 0px 0px 0px;
}
.users-editor .control-buttons button {
    padding: 5px 50px;
    font-weight: 800;
    font-size: 1.25em;
    margin: 0px 5px 0px 0px;
}