/***Container***/
.media-viewer{
    margin: 0px 10px 0px 0px;
}

/*** URL ***/
.media-viewer > .media-url-container{
    display: flex;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.media-viewer > .media-url-container > .media-url-icon,
.media-viewer > .media-url-container > .media-url-up-arrow{
    margin: 5px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.media-viewer > .media-url-container > *:not(.media-url):hover{
    filter: drop-shadow(0px 0px 1px var(--dark-1))
}

.media-viewer .media-url{
    flex: 1;
    border-radius: 2px;
    background: var(--main-color-1);
    padding: 3px;
    margin-left: 5px;
    font-size: 1.25em;
    max-width: 950px;
    border: 1px var(--secondary-color-4) solid;
}

.media-viewer .media-url > div{
    margin-left: 5px;
}

/* URL\Arrow */
.media-viewer .media-url-up-arrow{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}
.media-viewer .up-arrow {
    border-bottom: 10px var(--secondary-color-4) solid;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
}

/*URL Change button*/
.media-viewer .media-url-change {
    margin: 0px 5px;
    border-radius: 2px;
    padding: 3px;
    min-width: 50px;
    background: var(--secondary-color-4);
    border: 1px var(--secondary-color-4) solid;
}

/*** Display ***/
.media-viewer .media-display{
    display: flex;
    min-height: 600px;
    flex-wrap: wrap;
    padding: 0px 10px;
}

/***Media Objects***/
.media-viewer .media-object-container {
    display: inline-flex;
    flex-direction: column;
    max-width: 200px;
    max-height: 250px;
    padding: 25px;
    cursor: pointer;
}
.media-viewer .media-object-container:hover {
    filter: brightness(110%);
}
.media-viewer .media-object-container.selected{
    background: var(--shadow-dark-1);
}

/* Image Related*/
.media-viewer .media-object-container > .thumbnail-container > img {
    max-height: 150px;
    max-width: 150px;
}
.media-viewer .media-object-container.mediaFolder > .thumbnail-container > img {
    height: auto;
    width: auto;
}

/* Image Caption*/
.media-viewer .media-object-container > figcaption {
    max-width: 150px;
    font-size: 0.9em;
    font-weight: 600;
    overflow: auto;
    color: var(--gray-1);
}

/* Image Thumbnail Container*/
.media-viewer .media-object-container > .thumbnail-container{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-self: center;
}

/*Cropping*/
.media-viewer .media-object-container > .thumbnail-container.horizontalCrop{
    flex-direction: column;
}
.media-viewer .media-object-container > .thumbnail-container.verticalCrop{
    flex-direction: row;
}
.media-viewer .media-object-container > .thumbnail-container.centerCrop{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.media-viewer .media-object-container > .thumbnail-container.centerCrop > img{
    justify-self: center;
    align-self: center;
}

/* Image Size Bar*/
.media-viewer .media-object-container .image-size-wrapper{
    height: 0;
}

.media-viewer .media-object-container .image-size{
    position: relative;
    background: var(--shadow-dark-5);
    width: 150px;
    text-align: left;
    color: var(--main-color-1);
    font-weight: 700;
    font-size: 1em;
    transition: 0.5s;
}
.media-viewer .media-object-container:hover .image-size{
    transition: 0.5s;
    opacity: 0;
    width: 0;
}