- Apache Server 2.4.x+

- PHP 5.6+ / 7.x+ - higher versions = better.
	- [PHP Extention] apache2handler
	- [PHP Extention] curl
	- [PHP Extention] mysqli
	- [PHP Extention] openssl
	- [PHP Extention] PDO
	- [OPTIONAL][PHP Extention] xdebug
* I might be forgetting some things, but the rest seem to be included by default.

- MySQL 5.7+ / MariaDB (not tested) - higher versions = better
	- Username and password for a MySQL database, user must have full* permissions 
	*specific list may be derived, but wasn't yet

- [OPTIONAL][HIGHLY RECOMMENDED] SMTP Server that supports SSL authentication - without it, you wont be able to use 
	the system mailing procedures.
	
- [OPTIONAL][HIGHLY RECOMMENDED] Latest Redis version (5+ used for development)
	- [PHP Extention] PHPRedis
	- [PHP Config] Relevant configuration to use PHPRedis
	
