/*Actions*/
.auth-groups-editor .actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.auth-groups-editor .actions .action{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: max-content;
    min-width: 200px;
    margin: 5px 10px;
    padding: 5px;
    background: var(--main-color-2);
    color: var(--dark-1);
    border: 1px var(--secondary-color-4) solid;
}
.auth-groups-editor .actions .action.remove {
    background-color: var(--soft-red-1);
}
.auth-groups-editor .actions .action.add {
    background-color: var(--soft-green-1);
}
.auth-groups-editor .actions .action > * {
    width: 100%;
    text-align: center;
}
.auth-groups-editor .actions .action.title{
    font-weight: 800;
}
/*New Items*/
.auth-groups-editor .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.auth-groups-editor .items .item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 200px;
    min-width: 200px;
    margin: 5px 10px;
    padding: 5px;
    background: var(--main-color-2);
    color: var(--dark-1);
    border: 1px var(--secondary-color-4) solid;
}
.auth-groups-editor .items .item > * {
    width: 100%;
    text-align: center;
}
.auth-groups-editor .items .item .title > :first-child{
    font-weight: 800;
}

/*New*/
.auth-groups-editor .new {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 5px 10px;
    padding: 5px;
    background: var(--main-color-2);
    color: var(--dark-1);
    border: 1px var(--secondary-color-4) solid;
}
.auth-groups-editor .new input,
.auth-groups-editor .new textarea{
    background:var(--main-color-1);
    color: var(--dark-1);
    border: 1px var(--secondary-color-4) solid;
    margin: 2px 0px;
    padding: 5px;
}

/*Buttons*/
.auth-groups-editor .control-buttons {
    margin: 10px;
}
.auth-groups-editor .control-buttons button {
    padding: 15px 50px;
    font-weight: 800;
    margin: 5px;
    font-size: 1.25em;
}