/***First viewer***/
/*Correct display*/
.gallery-editor .gallery-viewer .media-object-container {
    min-width: 200px;
    min-height: 200px;
    max-height: 200px;
    max-width: 200px;
    transition: 0.25s;
}
.gallery-editor .gallery-viewer .media-display {
    min-height: min-content;
}
/*Hover / Dragged over*/
.gallery-editor .gallery-viewer .media-object-container:hover,
.gallery-editor .gallery-viewer .media-object-container.draggedOver {
    background: var(--shadow-dark-1);
}

/* Types */
.gallery-editor .types{
    display: flex;
}

.gallery-editor .types > button {
    padding: 5px 10px;
    font-size: 1em;
    font-weight: 800;
    transition: all 0.2s ease-in-out, border 0s;
}

.gallery-editor .types > button.selected  {
    border-bottom: 3px var(--dark-1) solid;
}

.gallery-editor .types > button:first-child {
    border-radius: 5px 0px 0px 5px;
}
.gallery-editor .types > button:not(:first-child){
    border-left: 0;
}
.gallery-editor .types > button:last-child {
    border-radius: 0px 5px 5px 0px;
}
.gallery-editor .types > button:not(:last-child){
    border-right: 0;
}


/* Search List - Media selector */
.gallery-editor .search-list .search-results{
    flex-direction: row;
    flex-wrap: wrap;
}
.gallery-editor .search-list .search-titles {
    display: none;
}
.gallery-editor .search-list .search-item {
    flex-direction: column;
    max-width: 360px;
    min-width: 360px;
    margin: 5px;
}
.gallery-editor .search-list .search-item span:not(.image) .search-item-title {
    display: inherit !important;
    padding: 0px 3px;
    background: var(--shadow-dark-1);
}
.gallery-editor .search-list .search-results > * > * {
    flex:0;
}
.gallery-editor .search-list .search-results > .search-item > .image span {
    height: 250px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 0px;
}
.gallery-editor .search-list .search-results > .search-item.vertical > .image span {
    flex-direction: row;
}
.gallery-editor .search-list .search-results > .search-item.small > .image span {
    width: max-content;
    margin: 5px auto;
}
.gallery-editor .search-list .search-results > .search-item > .image span img {
    max-width: 100%;
    max-height: 100%;
}
.gallery-editor .search-list .search-results > .search-item > .identifier textarea {
    width: 100%;
    margin: 5px 0px;
    padding: 5px;
    border: 1px var(--secondary-color-4) solid;
    background: var(--main-color-4);
}

/*Info container and all within*/

/*Information container*/
.gallery-editor .info-container{
    display: flex;
    flex-wrap: wrap;
}

/* Properties */
.gallery-editor .properties{
    flex: 1;
    min-width: 300px;
}
.gallery-editor .properties > *:not(img){
    font-size: 1.25em;
    border-radius: 2px;
    min-width: 70%;
}
.gallery-editor .properties .property{
    display: block;
    border: 1px var(--secondary-color-4) solid;
    margin: 5px;
    padding: 5px;
}
.gallery-editor .properties label > span{
    font-weight: 800;
    color: var(--gray-1);
}
.gallery-editor .properties .property.changed {
    background: var(--main-color-2);
}
/*Buttons*/
.gallery-editor .operations > button{
    text-transform: uppercase;
    margin: 5px 5px 5px 5px;
    font-weight: 800;
    display: inline-flex;
    transition: all 0.5s, color 0s;
    font-size: 1.25em;
    padding: 10px 20px;
}

.gallery-editor .operations > button >img {
    height: 20px;
    margin: 0px 0px 0px 10px;
    align-self: center;
}