/*** Search list itself ***/
.search-list{
    margin: 10px 0px;
}

/*** Filters ***/
.search-list .filter-container{
    display:flex;
    padding: 5px;
    justify-content: center;
    flex-wrap: wrap;
}

.search-list .filters{
    display: flex;
    flex-wrap: wrap;
    max-width: max-content;
    margin: 0px 10px;
    justify-content: center;
}

/* Pagination*/
.search-list .pagination button {
    margin: 0px 3px;
    padding: 5px 10px;
}

.search-list .pagination button.selected {
    box-shadow: 0px 0px 2px 1px var(--dark-1);
    font-weight: 800;
    padding: 5px 10px;
}

.search-list .pagination button:not([class="go-to"]) {
    background: none;
    color: var(--gray-1);
}

.search-list .pagination button[class="go-to"] {
    background: var(--gray-4);
}

.search-list .pagination button:not([class="go-to"]).selected {
    color: var(--dark-1);
}

.search-list .pagination button:not([class="go-to"]):hover {
    background: var(--gray-4);
}


.search-list .pagination .go-to-page {
    margin: 0px 15px;
}
.search-list .pagination .total-pages {
    margin: 0px 15px;
}

.search-list .pagination .go-to-page input{
    max-width: 60px;
    padding: 5px 3px;
    border: none;
}

.search-list .pagination .total-pages span:nth-child(2) {
    font-weight: 800;
    padding: 5px;
}

.search-list .pagination .go-to-page input{
    background: transparent;
}

/*Button*/
.search-list .filter-container > button{
    color: #000;
    flex: 1;
    font-size: 1.25em;
    font-weight: 800;
    min-width: 100px;
    max-width: 150px;
    margin: 5px 0px;
    padding: 5px;
    border: 1px solid var(--secondary-color-3);
    background: var(--main-color-2);
    cursor: pointer;
}
.search-list .filter-container > button:hover{
    background: var(--main-color-3);
    border: 1px solid var(--secondary-color-3);
}

/*Labels*/
.filter-container label > h2 {
    font-size: 1.25em;
}

.search-list .filters > .filter-group {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background: var(--main-color-2);
    border: 1px var(--secondary-color-4) solid;
    margin: 5px;
}


/*Inputs*/
.search-list .filters input[type="text"] {
    min-width: 200px;
}
.search-list .filters input {
    margin: 2px;
    padding: 4px;
    border: 1px var(--secondary-color-4) solid;
    background: var(--main-color-1);
}

/*Common result style*/
.search-list .search-results {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}
.search-list .search-results > .search-titles {
    font-weight: 800;
}
.search-list .search-results > * {
    display: flex;
    border: 1px solid var(--secondary-color-3);
    background: var(--main-color-2);
    padding: 10px 5px;
    margin: 5px 0px;
    border-radius: 2px;
}
.search-list .search-item {
    cursor: pointer;
}
.search-list .search-item:hover,
.search-list .search-item.selected{
    background: var(--main-color-5);
    transition: background-color 0.2s ease-in-out;
}
.search-list .search-results > * > * {
    flex: 1;
    margin: 0px 5px;
}