.color-1{
    background-color: rgb(250,252,255);
}
.color-2{
    background-color: rgb(236, 251, 255);
}
.color-3{
    background-color: rgb(224,244,255);
}
.color-4{
    background-color: rgb(161,233,246);
}
.color-5{
    background-color: rgb(130,221,236);
}
.color-6{
    background-color: rgb(176,255,255);
}
.color-7{
    background-color: rgb(245,246,255);
}
.color-8{
    background-color: rgb(218, 221, 239);
}
.color-9{
    background-color: rgb(190, 196, 223);
}
.color-10{
    background-color: rgb(163, 171, 207);
}
.color-11{
    background-color: rgb(136, 146, 191);
}
.color-12{
    background-color: rgb(111, 121, 166);
    color: white;
}
.color-13{
    background-color: rgb(60, 70, 115);
    color: white;
}
.color-14{
    background-color: rgb(34, 44, 89);
    color: white;
}
.color-15{
    background-color: rgb(9, 19, 64);
    color: white;
}
