body > .wrapper {
    display: flex;
}

/*Main app*/
.main-app {
    padding: 0px 10px;
    max-width: calc(100vw - 220px);
    padding: 10px;
    width: 100%;
}

/* Loading */
.main-app .loading-cover {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*Modes + Operations menu*/
.main-app .modes{
    display: flex;
}
.main-app .modes,
.main-app .operations {
    padding: 5px 0px 5px 0px;
    flex-direction: row;
}

.main-app .modes > button.selected,
.main-app .operations > button.selected {
    font-weight: 800;
    box-shadow: 0px 3px 6px #00000029;
}

/*Operations menu alone*/
.main-app .operations-container {
    display: flex;
    border-top: rgb(203, 203, 203) 1px solid;
    border-bottom: rgb(203, 203, 203) 1px solid;
    margin: 10px 0px 10px 0px;
}

.main-app .operations-container > .operations-title {
    align-self: center;
    font-size: 20px;
    font-weight: 800;
    padding: 5px 20px;
}

.main-app .operations > input {
    width: 100%;
    border: 1px #808080 solid;
    font-size: 1.25em;
    padding: 5px;
}


/*buttons*/

.main-app .modes > button {
    margin: 0px 10px;
}

.main-app .modes > button,
.main-app .operations > button {
    font-size: 1.25em;
    padding: 9px 52px;
    margin: 5px;
}

.main-app .operations > button {
    text-transform: uppercase;
    margin: 5px 5px 5px 5px;
    font-weight: 800;
    font-size: 18px;
    display: inline-flex;
}

/*Icon, if exists*/
.main-app .operations > button > img {
    height: 20px;
    margin: 0px 0px 0px 10px;
    align-self: center;
}

/*Alters*/
.main-app .alert{
    min-width: calc(100% - 10px);
    max-width: calc(100% - 10px);
    margin: 5px;
}

/* Search List*/
/*search item*/
.main-app .search-list .search-item{
    transition: all 0.5s, max-width 0s;
}
/*pagination*/
.main-app .search-list .pagination{
    display: flex;
    flex-wrap: wrap;
}
.main-app .search-list .pagination button{
    box-shadow: none;
    color: rgb(10 10 10);
    border: 1px transparent solid;
}
.main-app .search-list .pagination button.selected,
.main-app .search-list .pagination button:not([class="go-to"]):hover{
    box-shadow: none;
    background: rgb(236, 251, 255);
}
.main-app .search-list .pagination button.selected,
.main-app .search-list .pagination button[class="go-to"]{
    border: 1px rgb(163, 171, 207) solid;
}
.main-app .search-list .pagination button[class="go-to"]{
    background-color: rgb(218, 221, 239);
}
.main-app .search-list .pagination button[class="go-to"]:hover{
    background-color: rgb(163, 171, 207);
}

.main-app .search-list .pagination .go-to-page input,
.main-app .search-list .pagination .total-pages span:nth-child(2){
    background-color: rgb(218, 221, 239);
}

/*Titles*/
.title{
    font-size: 1em;
    font-weight: 800;
}


@media (max-width: 1000px) {
    .main-app {
        min-width: calc(100vw - 75px);
    }
}


@media (max-width: 600px) {
    .main-app .modes,
    .main-app .operations-container {
        flex-direction: column;
    }
}