* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:not(ol):not(ul):not(ul):not(li):not(blockquote){
    padding: 0;
    margin: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(0,0,0);
    text-align: left;
    background-color: var(--main-color-1);
    overflow-x: hidden;
    position: initial;
}

a {
    text-decoration: none;
    color: inherit;
}
a:visited{
    color: var(--secondary-color-5) !important;
}

b {
    font-weight: 800;
}

u {
    text-decoration: underline;
}

p {
    margin-top: 0;
}

blockquote {
    font-style: italic;
}

.alert{
    text-align: center;
    font-weight: 800;
    padding: 10px 35px 5px 5px;
    margin-bottom: 5px;
}

button{
    border: none;
}
