* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*:focus{
    outline: none;
}

:not(ol):not(ul):not(ul):not(li):not(blockquote){
    padding: 0;
    margin: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark-1);
    text-align: left;
    background-color: var(--main-color-1);
    overflow-x: hidden;
    position: initial;
}

html[dir="rtl"] body,
html[dir="rtl"] select,
html[dir="rtl"] form,
html[dir="rtl"] label,
html[dir="rtl"] input,
html[dir="rtl"] button {
    text-align: right;
}

a {
    text-decoration: none;
    color: var(--secondary-color-5) !important;
}
a:visited{
    color: var(--secondary-color-3) !important;
}

b {
    font-weight: 800;
}

u {
    text-decoration: underline;
}

p {
    margin-top: 0;
}

blockquote {
    font-style: italic;
}

.alert{
    text-align: center;
    font-weight: 800;
}
.alert.button{
    padding: 10px 35px 5px 5px;
    margin-bottom: 5px;
}
.alert.click{
    padding: 10px;
}

button{
    border: none;
}
