form{
    align-self: center;
}
form > input{
    padding: 0px 2px 0px 2px;
    margin: 4px 4px 4px 4px;
}

form > input[type="text"]{
    width: 50%;
    min-width: 300px;
}

form > input[type="submit"]{
    background-color: aliceblue;
    border: 2px solid gray;
    border-radius: 5px;
}

div#notice{
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}