.pop-up-tooltip{
       top : 1ex;
       left : 1ex;
       padding : 0.5em;
       max-width : 30em;
       border-radius : 0.7em;
       background: rgb(236, 251, 255);
       color: rgb(10 10 10);
       border: 1px rgb(163, 171, 207) solid;
       font-size: 0.8em;
       font-weight: 800;
       z-index : 1;
       display: table;
   }