.pop-up-tooltip{
       top : 1ex;
       left : 1ex;
       padding : 0.5em;
       max-width : 30em;
       border-radius : 0.7em;
       background: var(--main-color-2);
       color: var(--dark-1);
       border: 1px var(--secondary-color-4) solid;
       font-size: 0.8em;
       font-weight: 800;
       z-index : 1;
       display: table;
   }