/*Define most colors that will be found in the color platte*/
:root{
    /*scrolling*/
    --scrollbarBG: rgb(218, 221, 239);
    --thumbBG: rgb(111, 121, 166);
    /*general colors*/
    --soft-red-1: rgb(220,200,200);
    --soft-red-2: rgb(180,120,130);
    --soft-green-1: rgb(200,230,220);
    --soft-green-2: rgb(120,180,130);
    --dark-1: rgb(10,10,10);
    --dark-2: rgb(60,60,60);
    --gray-1: rgb(120,120,120);
    --gray-2: rgb(150,150,150);
    --gray-3: rgb(200, 200, 200);
    --gray-4: rgb(220, 220, 220);
    --white-1: rgb(240, 240, 240);
    --white-2: rgb(250, 250, 250);
    --shadow-gray-1: rgba(200,200,200,0.1);
    --shadow-gray-2: rgba(200,200,200,0.2);
    --shadow-gray-3: rgba(200,200,200,0.3);
    --shadow-gray-4: rgba(200,200,200,0.4);
    --shadow-gray-5: rgba(200,200,200,0.5);
    --shadow-gray-6: rgba(200,200,200,0.6);
    --shadow-gray-7: rgba(200,200,200,0.7);
    --shadow-gray-8: rgba(200,200,200,0.8);
    --shadow-dark-1: rgba(0,0,0,0.1);
    --shadow-dark-2: rgba(0,0,0,0.2);
    --shadow-dark-3: rgba(0,0,0,0.3);
    --shadow-dark-4: rgba(0,0,0,0.4);
    --shadow-dark-5: rgba(0,0,0,0.5);
    --shadow-dark-6: rgba(0,0,0,0.6);
    --shadow-dark-7: rgba(0,0,0,0.7);
    --shadow-dark-8: rgba(0,0,0,0.8);
    /*main colors*/
    --main-color-1: rgb(250,252,255);
    --main-color-2: rgb(236, 251, 255);
    --main-color-3: rgb(224,244,255);
    --main-color-4: rgb(204,240,253);
    --main-color-5: rgb(161,233,246);
    --main-color-6: rgb(130,221,236);
    --main-color-7: rgb(105,196,211);
    --main-color-8: rgb(54,145,160);
    --main-color-9: rgb(28,119,134);
    --main-color-10: rgb(0,68,83);
    --secondary-color-1: rgb(245,246,255);
    --secondary-color-2: rgb(218, 221, 239);
    --secondary-color-3: rgb(190, 196, 223);
    --secondary-color-4: rgb(163, 171, 207);
    --secondary-color-5: rgb(136, 146, 191);
    --secondary-color-6: rgb(111, 121, 166);
    --secondary-color-7: rgb(60, 70, 115);
    --secondary-color-8: rgb(34, 44, 89);
    --secondary-color-9: rgb(9, 19, 64);
    /*transparent variations*/
    --main-color-1-1: rgba(250,252,255,0.1);
    --main-color-1-3: rgba(250,252,255,0.3);
    --main-color-1-5: rgba(250,252,255,0.5);
    --main-color-1-8: rgba(250,252,255,0.8);
    --main-color-2-1: rgba(236,251,255,0.1);
    --main-color-2-3: rgba(236,251,255,0.3);
    --main-color-2-5: rgba(236,251,255,0.5);
    --main-color-2-8: rgba(236,251,255,0.8);
    --main-color-3-1: rgba(224,244,255,0.1);
    --main-color-3-3: rgba(224,244,255,0.3);
    --main-color-3-5: rgba(224,244,255,0.5);
    --main-color-3-8: rgba(224,244,255,0.8);
    --main-color-4-1: rgba(204,240,253,0.1);
    --main-color-4-3: rgba(204,240,253,0.3);
    --main-color-4-5: rgba(204,240,253,0.5);
    --main-color-4-8: rgba(204,240,253,0.8);
    --main-color-5-1: rgba(161,233,246,0.1);
    --main-color-5-3: rgba(161,233,246,0.3);
    --main-color-5-5: rgba(161,233,246,0.5);
    --main-color-5-8: rgba(161,233,246,0.8);
    --main-color-6-1: rgba(130,221,236,0.1);
    --main-color-6-3: rgba(130,221,236,0.3);
    --main-color-6-5: rgba(130,221,236,0.5);
    --main-color-6-8: rgba(130,221,236,0.8);
    --main-color-7-1: rgba(105,196,211,0.1);
    --main-color-7-3: rgba(105,196,211,0.3);
    --main-color-7-5: rgba(105,196,211,0.5);
    --main-color-7-8: rgba(105,196,211,0.8);
    --main-color-8-1: rgba(54,145,160,0.1);
    --main-color-8-3: rgba(54,145,160,0.3);
    --main-color-8-5: rgba(54,145,160,0.5);
    --main-color-8-8: rgba(54,145,160,0.8);
    --main-color-9-1: rgba(28,119,134,0.1);
    --main-color-9-3: rgba(28,119,134,0.3);
    --main-color-9-5: rgba(28,119,134,0.5);
    --main-color-9-8: rgba(28,119,134,0.8);
    --main-color-10-1: rgba(0,68,83,0.1);
    --main-color-10-3: rgba(0,68,83,0.3);
    --main-color-10-5: rgba(0,68,83,0.5);
    --main-color-10-8: rgba(0,68,83,0.8);
    --secondary-color-1-1: rgba(245,246,255,0.1);
    --secondary-color-1-3: rgba(245,246,255,0.3);
    --secondary-color-1-5: rgba(245,246,255,0.5);
    --secondary-color-1-8: rgba(245,246,255,0.8);
    --secondary-color-2-1: rgba(218, 221, 239,0.1);
    --secondary-color-2-3: rgba(218, 221, 239,0.3);
    --secondary-color-2-5: rgba(218, 221, 239,0.5);
    --secondary-color-2-8: rgba(218, 221, 239,0.8);
    --secondary-color-3-1: rgba(190, 196, 223,0.1);
    --secondary-color-3-3: rgba(190, 196, 223,0.3);
    --secondary-color-3-5: rgba(190, 196, 223,0.5);
    --secondary-color-3-8: rgba(190, 196, 223,0.8);
    --secondary-color-4-1: rgba(163, 171, 207,0.1);
    --secondary-color-4-3: rgba(163, 171, 207,0.3);
    --secondary-color-4-5: rgba(163, 171, 207,0.5);
    --secondary-color-4-8: rgba(163, 171, 207,0.8);
    --secondary-color-5-1: rgba(136, 146, 191,0.1);
    --secondary-color-5-3: rgba(136, 146, 191,0.3);
    --secondary-color-5-5: rgba(136, 146, 191,0.5);
    --secondary-color-5-8: rgba(136, 146, 191,0.8);
    --secondary-color-6-1: rgba(111, 121, 166,0.1);
    --secondary-color-6-3: rgba(111, 121, 166,0.3);
    --secondary-color-6-5: rgba(111, 121, 166,0.5);
    --secondary-color-6-8: rgba(111, 121, 166,0.8);
    --secondary-color-7-1: rgba(60, 70, 115,0.1);
    --secondary-color-7-3: rgba(60, 70, 115,0.3);
    --secondary-color-7-5: rgba(60, 70, 115,0.5);
    --secondary-color-7-8: rgba(60, 70, 115,0.8);
    --secondary-color-8-1: rgba(34, 44, 89,0.1);
    --secondary-color-8-3: rgba(34, 44, 89,0.3);
    --secondary-color-8-5: rgba(34, 44, 89,0.5);
    --secondary-color-8-8: rgba(34, 44, 89,0.8);
    --secondary-color-9-1: rgba(9, 19, 64,0.1);
    --secondary-color-9-3: rgba(9, 19, 64,0.3);
    --secondary-color-9-5: rgba(9, 19, 64,0.5);
    --secondary-color-9-8: rgba(9, 19, 64,0.8);
    /*message related - backgrounds & borders*/
    --message-warning-bg-1: rgb(218, 209, 104);
    --message-warning-border-1: rgb(90,81, 0);
    --message-error-bg-1: rgb(204, 24, 0);
    --message-error-border-1: rgb(77, 0, 0);
    --message-success-bg-1: rgb(26, 255, 140);
    --message-success-border-1: rgb(0, 77, 0);
    /*message related - colors*/
    --message-warning-color-1: rgb(190, 140, 40);
    --message-error-color-1: rgb(204, 24, 0);
    --message-success-color-1: rgb(0, 179, 64);
    /*button related*/
    --button-positive-color-1: rgb(45, 150, 7);
    --button-positive-color-2: rgb(60, 200, 10);
    --button-dangerous-color-1: rgb(181, 161, 0);
    --button-dangerous-border-1: rgb(150, 40, 0);
    --button-dangerous-color-2: rgb(255, 140, 0);
    --button-dangerous-border-2: rgb(205, 100, 0);
    --button-negative-color-1: rgb(204, 24, 0);
    --button-negative-border-1: rgb(150, 40, 0);
    --button-negative-color-2: rgb(254, 44, 10);
    --button-negative-border-2: rgb(255, 0, 0);
    --button-negative-2-color-1: var(--white-1);
    --button-negative-2-bg-1: rgb(234, 14, 0);
    --button-negative-2-border-1: var(--message-error-border-1);
    --button-negative-2-color-2: var(--white-2);
    --button-negative-2-bg-2: rgb(155, 7, 0);
    --button-negative-2-border-2: rgb(37, 0, 0);
    --button-positive-2-bg-1: rgb(40, 200, 70);
    --button-positive-2-border-1: rgb(30, 207, 80);
    --button-positive-2-bg-2: rgb(40, 255, 100);
    --button-positive-2-border-2: rgb(10, 150, 4);
    --button-dangerous-2-bg-1: rgb(218, 209, 104);
    --button-dangerous-2-border-1: rgb(90,81, 0);
    --button-dangerous-2-bg-2: rgb(255, 247, 148);
    --button-dangerous-2-color-2: rgb(255, 26, 26);
    --button-dangerous-2-border-2: rgb(255, 193, 139);
    --button-dangerous-3-bg-1: rgb(255, 200, 104);
    --button-dangerous-3-border-1: rgb(90,81, 0);
    --button-dangerous-3-color-1: rgb(120, 0, 0);
    --button-dangerous-3-bg-2: rgb(255, 230, 124);
    --button-dangerous-3-color-2: rgb(180, 0, 0);
    --button-dangerous-3-border-2: rgb(105,91, 0);
    /*transparent variations*/
    --message-warning-bg-1-5: rgba(218, 209, 104, 0.5);
    --message-warning-border-1-5: rgba(90,81, 0, 0.5);
    --message-error-bg-1-5: rgba(204, 24, 0, 0.5);
    --message-error-border-1-5: rgba(77, 0, 0, 0.5);
    --message-success-bg-1-5: rgba(26, 255, 140, 0.5);
    --message-success-border-1-5: rgba(0, 77, 0, 0.5);
    --button-dangerous-border-1-5: rgba(150, 40, 0, 0.5);
    --button-dangerous-border-2-5: rgba(205, 100, 0, 0.5);
    --button-negative-border-1-5: rgba(150, 40, 0, 0.5);
    --button-negative-border-2-5: rgba(255, 0, 0, 0.5);
    --button-negative-2-bg-1-5: rgba(234, 14, 0, 0.5);
    --button-negative-2-border-1-5: var(--message-error-border-1-5);
    --button-negative-2-bg-2-5: rgba(155, 7, 0, 0.5);
    --button-negative-2-border-2-5: rgba(37, 0, 0, 0.5);
    --button-positive-2-bg-1-5: rgba(40, 200, 70, 0.5);
    --button-positive-2-border-1-5: rgba(30, 207, 80, 0.5);
    --button-positive-2-bg-2-5: rgba(40, 255, 100, 0.5);
    --button-positive-2-border-2-5: rgba(10, 150, 4, 0.5);
    --button-dangerous-2-bg-1-5: rgba(218, 209, 104, 0.5);
    --button-dangerous-2-border-1-5: rgba(90,81, 0, 0.5);
    --button-dangerous-2-bg-2-5: rgba(255, 247, 148, 0.5);
    --button-dangerous-2-border-2-5: rgba(255, 193, 139, 0.5);
    --button-dangerous-3-bg-1-5: rgba(255, 200, 104, 0.5);
    --button-dangerous-3-border-1-5: rgba(90,81, 0, 0.5);
    --button-dangerous-3-bg-2-5: rgba(255, 230, 124, 0.5);
    --button-dangerous-3-border-2-5: rgba(105,91, 0, 0.5);
}

/*Messages*/
.message{
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Courier New',sans-serif;
}

.message-dull{
    background: var(--gray-4);
    color: var(--dark-2);
    border: 1px var(--gray-1) solid;
}
.message-info-1{
    background: var(--main-color-1);
    color: var(--secondary-color-8);
    border: 1px var(--secondary-color-4) solid;
}
.message-info-2, .alert.alert-info{
    background: var(--main-color-2);
    color: var(--dark-1);
    border: 1px var(--secondary-color-4) solid;
}
.message-warning-1{
    background: var(--message-warning-bg-1);
    color: var(--dark-1);
    border: 1px var(--message-warning-border-1) solid;
}
.message-warning-2, .alert.alert-warning{
    background: var(--main-color-2);
    color: var(--message-warning-color-1);
    border: 1px var(--secondary-color-4) solid;
}
.message-error-1{
    background: var(--message-error-bg-1);
    color: var(--dark-2);
    border: 1px var(--message-error-border-1) solid;
}
.message-error-2, .alert.alert-error{
    background: var(--main-color-2);
    color: var(--message-error-color-1);
    border: 1px var(--secondary-color-4) solid;
}
.message-success-1{
    background: var(--message-success-bg-1);
    color: var(--dark-2);
    border: 1px var(--message-success-border-1) solid;
}
.message-success-2, .alert.alert-success{
    background: var(--main-color-2);
    color: var(--message-success-color-1);
    border: 1px var(--secondary-color-4) solid;
}
/*transparent variations*/
.message-dull.transparent{
    background: var(--shadow-gray-5);
    border: 1px var(--shadow-dark-1) solid;
}
.message-info-1.transparent{
    background: var(--main-color-1-5);
    border: 1px var(--secondary-color-4-5) solid;
}
.message-info-2, .alert.alert-info.transparent{
    background: var(--main-color-2-5);
    border: 1px var(--secondary-color-4-5) solid;
}
.message-warning-1.transparent{
    background: var(--message-warning-bg-1-5);
    border: 1px var(--message-warning-border-1-5) solid;
}
.message-warning-2, .alert.alert-warning.transparent{
    background: var(--main-color-2-5);
    border: 1px var(--secondary-color-4-5) solid;
}
.message-error-1.transparent{
    background: var(--message-error-bg-1-5);
    border: 1px var(--message-error-border-1-5) solid;
}
.message-error-2, .alert.alert-error.transparent{
    background: var(--main-color-2-5);
    border: 1px var(--secondary-color-4-5) solid;
}
.message-success-1.transparent{
    background: var(--message-success-bg-1-5);
    border: 1px var(--message-success-border-1-5) solid;
}
.message-success-2, .alert.alert-success.transparent{
    background: var(--main-color-2-5);
    border: 1px var(--secondary-color-4-5) solid;
}

/* Alerts */
.alert{
    text-align: center;
    font-weight: 800;
    width: 100%;
}

/* Buttons */
button{
    margin: 0;
    background: none;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button.cancel-1{
    background: var(--secondary-color-1);
    color: var(--secondary-color-8);
    border: 1px var(--secondary-color-4) solid;
}
button.cancel-1:hover{
    background: var(--secondary-color-1);
    color: var(--secondary-color-4);
    border: 1px var(--gray-3) solid;
}

button.cancel-2{
    background: var(--gray-4);
    color: var(--dark-2);
    border: 1px var(--gray-1) solid;
}
button.cancel-2:hover{
    background: var(--gray-2);
    color: var(--dark-1);
    border: 1px var(--gray-3) solid;
}

button.positive-1{
    background: var(--main-color-2);
    color: var(--button-positive-color-1);
    border: 1px var(--main-color-5) solid;
}
button.positive-1:hover{
    background: var(--main-color-3);
    color: var(--button-positive-color-2);
    border: 1px var(--main-color-5) solid;
}

button.positive-2{
    background: var(--button-positive-2-bg-1);
    color: var(--dark-1);
    border: 1px var(--button-positive-2-border-1) solid;
}
button.positive-2:hover{
    background: var(--button-positive-2-bg-2);
    color: var(--dark-1);
    border: 1px var(--button-positive-2-border-2) solid;
}

button.positive-3{
    background: var(--main-color-2);
    color: var(--main-color-8);
    border: 1px var(--main-color-5) solid;
}
button.positive-3:hover{
    background: var(--main-color-3);
    color: var(--main-color-7);
    border: 1px var(--main-color-5) solid;
}

button.dangerous-1{
    background: var(--main-color-2);
    color: var(--button-dangerous-color-1);
    border: 1px var(--button-dangerous-border-1) solid;
}
button.dangerous-1:hover{
    background: var(--main-color-3);
    color: var(--button-dangerous-color-2);
    border: 1px var(--button-dangerous-border-2) solid;
}

button.dangerous-2{
    background: var(--button-dangerous-2-bg-1);
    color: var(--dark-1);
    border: 1px var(--button-dangerous-2-border-1) solid;
}
button.dangerous-2:hover{
    background: var(--button-dangerous-2-bg-2);
    color: var(--button-dangerous-2-color-2);
    border: 1px var(--button-dangerous-2-border-2) solid;
}

button.dangerous-3{
    background: var(--button-dangerous-3-bg-1);
    color: var(--button-dangerous-3-color-1);
    border: 1px var(--button-dangerous-3-border-1) solid;
}
button.dangerous-3:hover{
    background: var(--button-dangerous-3-bg-2);
    color: var(--button-dangerous-3-color-2);
    border: 1px var(--button-dangerous-3-border-2) solid;
}

button.negative-1{
    background: var(--main-color-2);
    color: var(--button-negative-color-1);
    border: 1px var(--button-negative-border-1) solid;
}
button.negative-1:hover{
    background: var(--main-color-3);
    color: var(--button-negative-color-2);
    border: 1px var(--button-negative-border-2) solid;
}

button.negative-2{
    background: var(--button-negative-2-bg-1);
    color: var(--button-negative-2-color-1);
    border: 1px var(--button-negative-2-border-1) solid;
}
button.negative-2:hover{
    background: var(--button-negative-2-bg-2);
    color: var(--button-negative-2-color-2);
    border: 1px var(--button-negative-2-border-2) solid;
}

/* Scrollbar */
*{
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: var(--scrollbarBG);
}
::-webkit-scrollbar-thumb {
    background: var(--thumbBG);
    -webkit-border-radius: 1ex;
}


/* Forms */
form label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form{
    background-color: var(--main-color-2);
    color: var(--dark-1);
    border: 1px var(--secondary-color-4) solid;
}
/*input, textarea, select*/
form input:not([type=submit]) {
    margin: 3px 0px 3px 0px;
    padding:5px;
    background-color: var(--shadow-gray-1);
    border: none;
    border-left: solid 3px darkgrey;
    transition: 0.2s ease-in-out;
}
form textarea {
    border: 1px var(--secondary-color-4) solid;
    padding: 5px;
    background-color: var(--shadow-gray-1);
    height: 28px;
    transition: all 0.2s ease-in-out, height 0s, width 0s;
}
form input:focus,
form textarea:focus{
    background-color: var(--shadow-gray-3);
}
form input:hover:not(:focus),
form textarea:hover:not(:focus){
    background-color: var(--shadow-gray-2);
}

/* Select */
select{
    padding: 5px;
    background: var(--main-color-1);
    border: 1px var(--secondary-color-4) solid;
    transition: background 0.2s ease-in-out;
    /*remove annoying arrow*/
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
select:not([disabled]):hover{
    background: var(--main-color-4);
}
select[disabled]{
    background: var(--secondary-color-2);
}

/*Standard media sizes*/
/*Big desktop*/
@media only screen and (max-width: 1450px) {
}
/*Small desktop*/
@media only screen and (max-width: 1250px) {
}
/*Huge tablet*/
@media only screen and (max-width: 1150px) {
}
/*Big tablet*/
@media only screen and (max-width: 1000px) {
}
/*Small tablet*/
@media only screen and (max-width: 800px) {
}
/*Big phone*/
@media only screen and (max-width: 600px) {
}
/*Small phone (down to 375)*/
@media only screen and (max-width: 400px) {
}