

@media (max-width: 1600px) {
    #contacts .search-list .search-titles {
        display: none;
    }
    #contacts .search-list .search-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: calc(100vw - 100px);
    }
    /*contact type*/
    #contacts .search-list .search-item.has-type span:first-child{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #contacts .search-list .search-item .search-item-title {
        display: inherit !important;
        padding: 0px 3px;
        background: var(--shadow-dark-1);
    }
}

@media (max-width: 600px) {
    #contacts .search-list .search-item {
        display: flex;
        flex-direction: column;
    }
}