/*** Back Menu ***/
#menu{
    min-height: 100vh;
    background: rgb(236, 251, 255);
    font-size: 1.25em;
    margin-right: 5px;
    position: relative;
    transition: 0.5s linear;
    min-width: 200px;
}
/* Logo */
#menu > .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu > .logo > img{
    height: 100px;
}

/* children */
#menu > a{
    display: block;
}

/* children that aren't the logo */
#menu > a:not(.logo).selected{
    font-weight: 800;
}
#menu > a:not(.logo){
    background: rgb(236, 251, 255);
    padding: 5px;
    font-size: 1em;
    width: 100%;
    text-align: left;
    transition: all 0.2s, color 0s;
    border: 1px solid rgb(163, 171, 207);
    border-left: none;
    border-right: none;
    border-top: none;
}
#menu > a:not(.logo):last-child{
    border-bottom: none;
}
#menu > a:not(.logo).selected,
#menu > a:not(.logo):hover{
    background: rgb(161,233,246);
}

/*Toggle wrapper / button*/
#menu > .button-wrapper{
    position: relative;
    height: 0;
    left: 200px;
    transition: 0.5s ease-out;
}
#menu > .button-wrapper{
    display: none;
}
#menu > .button-wrapper > button{
    padding: 20px;
    background: rgb(236, 251, 255);
    border-radius: 20px;
    margin: 10px 0px 0px 10px;
    border: rgb(28 119 134) 1px solid;
    transition: 0.5s ease-out;
}
#menu.open > .button-wrapper > button{
    border-radius: 0px 0px 20px 0px;
    border-left: none;
    border-top: none;
    padding: 40px 20px;
    margin: 0px;
}

@media only screen and (max-width: 1000px) {
    /*Open/Closed rules*/
    #menu.open {
        right: 0;
        min-width: 200px;
    }
    /*Toggle wrapper / button*/
    #menu{
        margin: 0px 50px 0px 0px;
        right: 200px;
        min-width: 0px;
        width: 0px;
    }
    #menu.open > .button-wrapper,
    #menu > .button-wrapper{
        position: relative;
        height: 0;
        left: 195px;
        display: block;
    }
    #menu.open > .button-wrapper{
        left: 200px;
    }
}