/*** Back Menu ***/
#menu{
    min-height: 100vh;
    background: var(--main-color-2);
    font-size: 1.25em;
    margin-right: 5px;
    position: relative;
    z-index: 9999;
    transition: 0.5s linear;
    max-width: 200px;
    box-shadow: 1px 0px 5px 0px var(--main-color-4);
}
/* Logo */
#menu > .logo,
#menu > .other-cp{
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu > .logo  img,
#menu > .other-cp  img{
    max-height: 100px;
    max-width: calc(100% - 10px);
    margin: 10px 0px;
}
#menu > .logo  img:hover,
#menu > .other-cp  img:hover {
    filter: brightness(102.5%);
}

/* children */
#menu > a{
    display: block;
}

/* children that aren't the logo */
#menu > a:not(.logo).selected{
    font-weight: 800;
}
#menu > a:not(.logo){
    display: flex;
    justify-content: start;
    align-items: center;
    background: var(--main-color-2);
    padding: 5px;
    font-size: 1em;
    width: 100%;
    text-align: left;
    transition: all 0.2s, color 0s;
    border: 1px solid var(--secondary-color-2);
    border-left: none;
    border-right: none;
    border-top: none;
}
#menu > a:not(.logo):last-child{
    border-bottom: none;
}
#menu > a:not(.logo).selected,
#menu > a:not(.logo):hover{
    background: var(--main-color-5);
}
#menu > a:not(.logo):visited{
    color: black!important;
}
/*Image*/
#menu > a:not(.logo)  img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}
#menu > a:not(.logo) picture {
    height: 30px;
}

/*Toggle wrapper / button*/
#menu > .button-wrapper{
    position: relative;
    height: 0;
    left: 200px;
    transition: 0.5s ease-out;
}
#menu > .button-wrapper{
    display: none;
}
#menu > .button-wrapper > button{
    padding: 20px;
    background: var(--main-color-2);
    border-radius: 20px;
    margin: 10px 0px 0px 10px;
    border: rgb(28 119 134) 1px solid;
    transition: 0.5s ease-out;
}
#menu.open > .button-wrapper > button{
    border-radius: 0px 0px 20px 0px;
    border: none;
    padding: 40px 20px;
    margin: 0px;
    box-shadow: 3px 1px 1px 1px var(--main-color-3);
}
#menu > .button-wrapper > button::after {
    content: '';
    width: 10px;
    height: 20px;
    background: var(--secondary-color-6);
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    transition: 0.25s linear;
}
#menu > .button-wrapper > button::after:hover {
    background: var(--secondary-color-4);
}
#menu > .button-wrapper > button.open::after {
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

/* Disabled */
#menu > a.disabled {
    background: var(--shadow-dark-1) !important;
    color:  var(--gray-2) !important;
    cursor: no-drop;
}

@media only screen and (max-width: 1000px) {
    /*Open/Closed rules*/
    #menu.open {
        right: 0;
        min-width: 200px;
    }
    /*Make the items easier to tap*/
    #menu > a:not(.logo) > * {
        height: 40px;
        display: flex;
        align-items: center;
    }
    /*Toggle wrapper / button*/
    #menu{
        margin: 0px 50px 0px 0px;
        right: 200px;
        min-width: 0px;
        width: 0px;
    }
    #menu.open > .button-wrapper,
    #menu > .button-wrapper{
        position: relative;
        height: 0;
        left: 195px;
        display: block;
    }
    #menu.open > .button-wrapper{
        left: 200px;
    }
}

/*Other CP*/
#menu > a.other-cp{
    font-size: 1.25em;
    font-weight: 800;
}