
/*** Modes ***/

/*** Operations ***/


/** Buttons**/
#galleries > .operations-container > .operations > button.delete,
#galleries > .operations-container > .operations > button.remove,
#galleries > .operations-container > .operations > button.removeMultiple{
    background:
            rgba(150,0,0,0.3);
}

/*Search List - galleries specific*/

/* Pagination */

/*Results*/
#galleries .search-list .search-results > * > :first-child {
    flex: 5;
    font-weight: 800;
}
#galleries .search-list .search-results > * > * {
    min-width: 150px;
}
#galleries .search-list .search-results > .search-titles {
    font-size: 1.125em;
    background: none;
    border: none;
}
#galleries .search-list .search-item {
    transition: 0.5s;
}