
/** Buttons**/

/*Search List - galleries specific*/

/* Pagination */

/*Results*/
#galleries .search-list .search-results > * > :first-child {
    flex: 5;
    font-weight: 800;
}
#galleries .search-list .search-results > * > * {
    min-width: 150px;
}
#galleries .search-list .search-results > .search-titles {
    font-size: 1.125em;
    background: none;
    border: none;
}
#galleries .search-list .search-item {
    transition: 0.5s;
}

@media (max-width: 600px) {
    #galleries .search-list .search-titles {
        display: none;
    }
    #galleries .search-list .search-item {
        flex-direction: column;
        max-width: calc(100vw - 100px);
    }
    #galleries .search-list .search-item .search-item-title {
        display: inherit !important;
        padding: 0px 3px;
        background: var(--shadow-dark-1);
    }
}