#login-register.main-app[mode="login"],
#login-register.main-app[mode="register"]{
    max-width: calc(100vw);
}

#login-register.main-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Login/Register*/
#login-register.main-app form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px 0px;
    background: var(--main-color-2);
    color: var(--dark-1);
    border: 1px var(--secondary-color-4) solid;
}
#login-register.main-app form input {
    margin: 5px 0px;
    padding: 5px;
}
#login-register.main-app .user-login form > div {
    margin: 5px 0px;
}

/*Buttons in general*/
#login-register.main-app button {
    padding: 5px 10px;
    background: var(--main-color-2);
    color: var(--main-color-8);
    border: 1px var(--main-color-5) solid;
}
#login-register.main-app button:hover {
    background: var(--main-color-3);
    color: var(--main-color-7);
    border: 1px var(--main-color-5) solid;
}