/* Media */
#media{
    padding: 0px 20px;
}

#media .modes > button.selected,
#media  .operations > button.selected {
    font-weight: 800;
}

/* Search List */
#media .search-list .search-results{
   flex-direction: row;
    flex-wrap: wrap;
}
#media .search-list .search-titles {
    display: none;
}
#media .search-list .search-item {
    flex-direction: column;
    max-width: 360px;
    min-width: 360px;
    margin: 5px;
}
#media .search-list .search-item span:not(.media) .search-item-title {
    display: inherit !important;
    padding: 0px 3px;
    background: var(--shadow-dark-1);
}
#media .search-list .search-results > * > * {
    flex:0;
}
#media .search-list .search-results > .search-item > .media span {
    height: 250px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 0px;
}
#media .search-list .search-results > .search-item.vertical > .media span {
    flex-direction: row;
}
#media .search-list .search-results > .search-item.small > .media span {
    width: max-content;
    margin: 5px auto;
}
#media .search-list .search-results > .search-item > .media span img {
    max-width: 100%;
    max-height: 100%;
}
#media .search-list .search-results > .search-item > .identifier textarea {
    width: 100%;
    margin: 5px 0px;
    padding: 5px;
    border: 1px var(--secondary-color-4) solid;
    background: var(--main-color-4);
}

/* Component specific CSS*/

/*Component itself*/
.image-uploader,
.image-editor{
    padding: 10px 0px;
}

/* Image container */
.image-uploader .image-container,
.image-editor .image-container{
    display: flex;
    justify-content: center;
    padding: 20px;
    transition: 0.5s linear;
}
.image-uploader .image-container:hover,
.image-editor .image-container:hover{
    background: var(--shadow-dark-1);
}
.image-uploader .image-container > img,
.image-editor .image-container > img{
    max-width: 100%;
}

/*Link container*/
.image-uploader > .link-container > .link-preview {
    max-width: 100%;
}

/*Information container*/
.image-uploader .info-container,
.image-editor .info-container{
    display: flex;
    flex-wrap: wrap;
}

/*Video controls*/
.image-uploader .video-controls,
.image-editor .video-controls{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.image-uploader .video-controls > button,
.image-editor .video-controls > button{
    margin: 5px 10px;
    padding: 5px 10px;
}

/* Properties */
.image-uploader .properties,
.image-editor .properties{
    flex: 1;
    min-width: 300px;
}
.image-uploader .properties > *:not(img),
.image-editor .properties > *:not(img){
    font-size: 1.25em;
    border-radius: 2px;
    min-width: 70%;
}
.image-uploader .properties .property,
.image-editor .properties .property{
    display: block;
    border: 1px var(--secondary-color-4) solid;
    margin: 5px;
    padding: 5px;
}
.image-uploader .properties label > span,
.image-editor .properties label > span{
    font-weight: 800;
    color: var(--gray-1);
}
/*Divs are for static properties*/
.image-uploader .properties div.property,
.image-editor .properties div.property {
    max-width: max-content;
    border: none;
    background: var(--secondary-color-2);
}

/*Buttons*/
.image-uploader .operations > button,
.image-editor .operations > button,
.image-uploader .initiate-galleries,
.image-editor .initiate-galleries {
    text-transform: uppercase;
    margin: 5px 5px 5px 5px;
    font-weight: 800;
    display: inline-flex;
    transition: all 0.5s, color 0s;
    font-size: 1.25em;
    padding: 10px 20px;
}
.image-editor .operations > button >img,
.image-uploader .operations > button >img {
    height: 20px;
    margin: 0px 0px 0px 10px;
    align-self: center;
}

/*type*/
.image-uploader .remote-type{
    padding: 5px;
    margin: 5px 0px;
}

/*Gelleries*/
.image-editor .galleries-container,
.image-uploader .galleries-container {
    max-width: max-content;
    margin: 10px 0px;
    min-width: 250px;
}
.image-editor .initiate-galleries,
.image-uploader .initiate-galleries{
    background: var(--main-color-3);
    border: 1px var(--secondary-color-4) solid;
    color:black;
}
.image-editor .initiate-galleries:hover,
.image-uploader .initiate-galleries:hover{
    background: #000;
    color:white;
}
.image-editor .galleries-container > *,
.image-uploader .galleries-container > *{
    text-align: center;
}
.image-editor .gallery-title,
.image-uploader .gallery-title{
    width: 100%;
    padding: 0px 10px;
    background: var(--secondary-color-5);
}
.image-editor .gallery,
.image-uploader .gallery{
    padding: 5px;
    font-size: 1.5em;
}
.image-editor .gallery:nth-child(2n),
.image-uploader .gallery:nth-child(2n) {
    background: var(--main-color-2);
}
.image-editor .gallery:nth-child(2n+1),
.image-uploader .gallery:nth-child(2n+1) {
    background:  var(--main-color-3);
}


/** Responsiveness **/
@media (max-width: 1000px) {
    #media .search-list .search-results {
        justify-content: center;
    }
}


@media (max-width: 600px) {

    #media .search-list .search-item {
        max-width: 305px;
        min-width: 305px;

    }
}