

@media (max-width: 800px) {
    
    /*All search lists*/
    #menus .search-list .search-titles {
        display: none;
    }
    #menus .search-list .search-item {
        flex-direction: column;
        max-width: calc(100vw - 100px);
    }
    #menus .search-list .search-item .search-item-title {
        display: inherit !important;
        padding: 0px 3px;
        background: var(--shadow-dark-1);
    }
}