/*Lables in general*/
#object-manager form label,
#object-manager form button{
    display: block;
}

/*Buttons*/
#object-manager form button{
    padding: 5px 15px;
    margin: 5px;
}

/* Types */
#object-manager .types{
    display: flex;
}

#object-manager .types > button {
    padding: 5px 10px;
    font-size: 1em;
    font-weight: 800;
    transition: all 0.2s ease-in-out, border 0s;
}

#object-manager .types > button.selected  {
    border-bottom: 3px  var(--dark-1) solid;
}

#object-manager .types > button:first-child {
    border-radius: 5px 0px 0px 5px;
}
#object-manager .types > button:not(:first-child){
    border-left: 0;
}
#object-manager .types > button:last-child {
    border-radius: 0px 5px 5px 0px;
}
#object-manager .types > button:not(:last-child){
    border-right: 0;
}

@media (max-width: 700px) {
    /* Types */
    #object-manager .types{
        flex-wrap: wrap;
    }

    #object-manager .types > button {
        margin: 5px;
    }

    #object-manager .types > button.selected  {
        border-bottom: 1px  var(--main-color-5) solid;
        box-shadow: 1px 1px 1px 1px black;
    }

    #object-manager .types > button:first-child,
    #object-manager .types > button:last-child,
    #object-manager .types > button {
        border-radius: 5px;
    }
    #object-manager .types > button:not(:first-child){
        border-left: 1px  var(--main-color-5) solid;
    }
    #object-manager .types > button:not(:last-child){
        border-right: 1px  var(--main-color-5) solid;
    }
}
