

#plugins h1{
    text-align: center;
    color: var(--secondary-color-6);
    font-weight: 700;
    background-color: var(--main-color-2);
}

#plugins div.option {
    background-color: var(--main-color-3);
    border: 0px;
    display: table;
    border-radius: 5px;
    margin: 0px 0px 3px 3px;
}

#plugins div.option>a{
    font-weight: 800;
}

#plugins .plugins {
    clear: both;
    width: 100%;
}

#options-form .buttons,
#plugin-order-list .buttons
{
    display: flex;
    max-width: 300px;
}

#plugins .plugin-buttons {
    text-align: center;
}

#plugin-list button,
#plugin-order-list button {
    margin: 1px;
    padding: 5px 10px;
}

#plugins button.activeButton {
    border: 1px  var(--dark-1) solid;
}

#plugins .plugin-icons > img {
    width: 64px;
    height: 64px;
    margin: 5px;
}

#plugins .plugin-names {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
#plugins .plugin-names *{
    'Baskerville Old Face',sans-serif
}

#plugins .real-name-popup {
}

#plugins .plugin-statuses {
    text-align: center;
}

#plugins .plugin-summary {
    font-style: italic;
    font-size: 12px;
    font-weight: 700;
}

#plugins .plugin-version {
    font-size: 12px;
    font-weight: 700;
    margin: 0px 5px 0px 0px;
}

#plugins .isInactive{
    display: none;
}

#plugins .isActive{
    display: inherit;
}

#plugins .isVisible{
    height: inherit;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;
}

#plugins .isInvisible{
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s linear;
}

#plugins table tr td{
    padding: 2px;
    border: 1px solid var(--secondary-color-4);
    background-color: var(--main-color-3);
}
#plugins table tr th{
    padding: 2px;
    text-align: center;
}

#plugins .order-icons{
    text-align: center;
}
#plugins .order-icons > img {
    cursor: all-scroll;
}

#plugins .order-indices{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: var(--main-color-8);
}

#plugins .order-names{
    font-size: 14px;
    font-weight: 700;
}

#plugins .active-order{
    filter: contrast(200%) drop-shadow(1px 1px 2px teal) saturate(150%);
    transition: 0.1s ease-in-out;
}

#plugins .lowVisual{
    filter: grayscale(80%) opacity(40%);
}

/* Responsiveness */
@media only screen and (max-width: 1000px) {
    #plugins .plugins tr:first-child{
        display: none;
    }
    #plugins .plugins .plugin-icons {
        width: 100%;
        align-items: center;
    }
    #plugins .plugins .plugin-icons > img {
        width: 64px;
        height: 64px;
    }
    #plugins .plugins tr:not(:first-child){
        display: grid;
        width: calc(100vw - 100px);
        min-width: 300px;
        margin: 20px 0px;
    }
    #plugins .plugins tr > td{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}