/*Custom search-list stuff*/
#tokens .search-list .expired{
    background: var(--soft-red-1);
    padding: 5px 10px;
    border-radius: 2px;
}

#tokens .search-list .search-item-property.tags .tag{
    display: inline-block;
    margin: 2px;
    padding: 5px 10px;
    border-radius: 15px;
    background: var(--main-color-5-5);
    font-weight: 800;
    transition: 0.3s ease-in-out;
}

#tokens .search-list .search-item:hover .search-item-property.tags .tag {
    background: var(--main-color-7);
}

@media (max-width: 800px) {
    
    /*All search lists*/
    #tokens .search-list .search-titles {
        display: none;
    }
    #tokens .search-list .search-item {
        flex-direction: column;
        max-width: calc(100vw - 100px);
    }
    #tokens .search-list .search-item .search-item-title {
        display: inherit !important;
        padding: 0px 3px;
        background: var(--shadow-dark-1);
    }
    #tokens .search-list .search-item .search-item-property > span {
        display: flex;
        flex-wrap: wrap;
    }
    #tokens .search-list .expired{
        padding: 2px;
        border-radius: 0px;
    }
}