/*search list*/
#users .search-list .search-titles > span.identifier,
#users .search-list .search-item > span.identifier{
    flex: 0.25;
}
#users .search-list .search-titles > span.rank,
#users .search-list .search-titles > span.active,
#users .search-list .search-titles > span.bannedUntil,
#users .search-list .search-titles > span.suspiciousUntil,
#users .search-list .search-item > span.rank,
#users .search-list .search-item > span.active,
#users .search-list .search-item > span.bannedUntil,
#users .search-list .search-item > span.suspiciousUntil{
    flex: 0.5;
}

/*QR*/
#users .search-list.tokens .search-results > * > *:last-child{
    flex: 2;
    text-align: center;
}
#users .search-list.tokens .search-results > * > .search-item-property.qr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#users .search-list.tokens .search-item svg{
    display: block;
    width: 200px;
    height: 200px;
    padding: 5px;
    margin: 5px;
    background-color: white;
    border: 1px solid var(--main-color-8);
}

/*Token creation*/
#users .operations > form.token-creation {
    padding: 5px;
}
#users .operations > form.token-creation > button {
    padding: 5px;
    margin: 5px 0px;
}
#users .operations > form.token-creation input:not([type="checkbox"]) {
    min-width: 250px;
}

@media (max-width: 1000px) {
    
    /*All search lists*/
    #users .search-list .search-titles {
        display: none;
    }
    #users .search-list .search-item {
        flex-direction: column;
        max-width: calc(100vw - 100px);
    }
    #users .search-list .search-item .search-item-title {
        display: inherit !important;
        padding: 0px 3px;
        background: var(--shadow-dark-1);
        width: 100%;
    }
}