#userLog input.warning{
    background: var(--message-warning-bg-1);
}
#userLog input.error,
#userLog input.danger{
    background: var(--message-error-bg-1);
}

#userLog input.success{
    background: var(--message-success-bg-1);
}