#userReg input.warning{
    background: var(--message-warning-bg-1);
}
#userReg input.error,
#userReg input.danger{
    background: var(--message-error-bg-1);
}

#userReg input.success{
    background: var(--message-success-bg-1);
}